#below-navbar {
    margin-top: 80px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    left: 0;
    width: 100%;
}

#query_date_input {
    margin-right: 50px;
}

#data-tab > li, #data-tab a {
    cursor: pointer;
}

.wait-tips {
    text-align: center;
}