<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
        .footer {
            text-align: center;
            padding: 30px 0;
            margin-top: 70px;
            border-top: 1px solid #e5e5e5;
            background-color: #f5f5f5;
            left: 0;
            width: 100%;
        }

        body {
            padding-top: 80px;
        }
    </style>
    <link rel="shortcut icon" href="/static/img/favicon.jpg">
    <title>老大哥 - 易迅内仓监控系统</title>
</head>
<body>
<div class="container">
    <div class="ui-box">
        <div class="ui-box-header">
            <h3>易迅内仓核心路径监控</h3>
        </div>
        <div class="ui-box-container">
            <form class="form-horizontal" action="/login" method="post">
                <div class="control-group">
                    <label class="control-label" for="user-name">用户名</label>

                    <div class="controls">
                        <input type="text" id="user-name" name="user_name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="passwd">密码</label>

                    <div class="controls">
                        <input type="text" id="passwd" name="password"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <p>推荐使用Firefox或Chrome浏览器，体验更佳</p>

        <p>&copy;2013-2013 电商运维部 易迅运维组</p>
    </div>
</div>
</body>
</html>