<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/alertify/themes/alertify.core.css" rel="stylesheet" type="text/css"/>
    <link href="/static/alertify/themes/alertify.default.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    .id {
        display: none;
    }
    .footer {
        text-align: center;
        padding: 30px 0;
        margin-top: 70px;
        border-top: 1px solid #e5e5e5;
        background-color: #f5f5f5;
        left: 0;
        width: 100%;
    }
    body {
        padding-top: 80px;
    }
    .table th, .table td {
        text-align: center;
    }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/img/favicon.jpg">
    <title>老大哥 - 易迅内仓监控系统</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">易迅内仓监控系统</a>
            <ul class="nav">
                <li class=""><a href="/search_machine">搜索机器</a>
				<li class="active"><a href="/manage/list_machine">机器管理</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{.login_name}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/logout">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
	<div class="row-fluid">
		<table class="table table-bordered">
			<thead>
			<tr>
			<th>序号</th>
            <th class="id">ID</th>
			<th>IP</th>
			<th>主机名</th>
			<th>MAC地址</th>
			<th>Agent版本</th>
			<th>角色</th>
			<th>状态</th>
			<th></th>
			</tr>
			</thead>
			<tbody>
			{{$role_mapper := .role_mapper}}
			{{$status_mapper := .status_mapper}}
			{{$status_labels := .status_labels}}
			{{range $key, $val := .machine_list}}
			<tr>
			<td class="sequence-number">{{add $key 1}}</td>
            <td class="id">{{$val.Id}}</td>
			<td class="ip">{{$val.Ip}}</td>
			<td class="host-name">{{$val.Host_name}}</td>
			<td class="hardware-addr">{{$val.Hardware_addr}}</td>
			<td class="agent-version">{{$val.Agent_version}}</td>
			<td class="machine-role">{{index $role_mapper $val.Machine_role}}</td>
			<td class="status"><span class="{{index $status_labels $val.Hardware_addr}}">{{index $status_mapper $val.Status}}</td>
			<td class="operation"><button class="btn btn-danger del-machine">删除</button></td>
			</tr>
			{{end}}
			</tbody>
		</table>
	</div>
</div>

<div class="footer">
    <div class="container">
        <p>推荐使用Firefox或Chrome浏览器，体验更佳</p>

        <p>&copy;2013-2013 电商运维部 易迅运维组</p>
    </div>
</div>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/alertify/alertify.min.js" type="text/javascript"></script>
<script src="/static/js/manage_machine/main.js" type="text/javascript"></script>
</body>
</html>