.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    left: 0;
    width: 100%;
}

#machine-list {
    vertical-align: top;
}

#query_date_input, #machine-list {
    margin-right: 15px;
}

.wait-tips {
    text-align: center;
}

#data-tab > li, #data-tab a {
    cursor: pointer;
}

body {
    padding-top: 80px;
}

.normal {
    background-color: #e6fcf0;
}

.abnormal {
    background-color: #FF6347;
}

.closed {
    background-color: #c0c0c0;
}

.no_use {
    background-color: yellowgreen;
}